[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=/home/dmn/.local/opt/Discord/Discord
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

Icon=discord
Path=/usr/bin
